*{ margin: 0; padding: 0; }
li{list-style: none;}

ul, .principal{
	/* Não centralizamos por aqui, pois os elementos definidos como block são li e .secundario */
}
li, .secundaria	{
    text-align: center;
	width: 	30%;
	display: block;
	margin-right: 	.5rem;
	margin: 0 auto;
}

ul li{
	background-color: 	red;
}

.secundaria{
	background-color: 	blue;
}